.row1{
    align-items: initial; width: 100%; height: 5cm; display: flex; justify-content: space-between;
    
}
.row2{
    align-content: initial; width: 100%; height: 5cm; display: flex; justify-content: space-between;
    
}
.row3{
    align-content: initial; width: 100%; height: 5cm; display: flex; justify-content: space-between;
    
}
.row4{
    align-content: initial; width: 100%; height: 5cm; display: flex; justify-content: space-between;
    
}
.row5{
    align-content: initial; width: 100%; height: 5cm; display: flex; justify-content: space-between;
    
}
.row6{
    align-content: initial; width: 100%; height: 5cm; display: flex; justify-content: space-between;
    
}